QWidget {
        border-image : url(resources/background.jpeg) 0 0 0 0;}

QPushButton {
        border-radius : 0;
        border: 1px solid #E8C68D;
        color: #E8C68D;
        font-family: MontserratBolt;
        font-size: 24pt;
        width: 7em;
        height: 1em;
        text-align: left;
        border-image: url();
        background-color: #70000E;}



QLineEdit, QListWidget, QLabel{
        border-image: url();
        background-color: #fffff0;}

